---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Welcome to Astro.">
  <h1 class="text-primary">Hello, Astro!</h1>

  <canvas class="webgl"> </canvas>
  <h1>Hello, Astro!</h1>
</Layout>

<script src="../assets/main.js"></script>
